@model MathWiz.Models.Test

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Test</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentID" class="control-label"></label>
                <input asp-for="StudentID" class="form-control" />
                <span asp-validation-for="StudentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade" class="control-label"></label>
                <input asp-for="Grade" class="form-control" />
                <span asp-validation-for="Grade" class="text-danger"></span>
            </div>
            <div ="form-group">
                <label asp-for="Questions.First().Val1" class="control-label"></label>
                <input asp-for="Questions.First().Val1" name="Test.Questions[0].Val1" class="form-control" />


            </div>
            <div ="form-group">
                <label asp-for="Questions.First().Sign" class="control-label"></label>
                <input asp-for="Questions.First().Sign"  name="Test.Questions[0].Sign" class="form-control" />


            </div>
            <div ="form-group">
                <label asp-for="Questions.First().Val2" class="control-label"></label>
                <input asp-for="Questions.First().Val2" name="Test.Questions[0].Val2" class="form-control" />


            </div>
            <div ="form-group">
                <label asp-for="Questions.First().Answer" class="control-label"></label>
                <input asp-for="Questions.First().Answer" name="Test.Questions[0].Answer" class="form-control" />


            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
